:root {
    --main-font-family: "Space Mono", sans-serif;

    --light-green: hsl(172, 67%, 45%);
    --dark-green: hsl(183, 100%, 15%);

    --dark-grey: hsl(186, 14%, 43%);
    --medium-grey: hsl(184, 14%, 56%);
    --grey: hsl(185, 41%, 84%);
    --light-grey: hsl(189, 47%, 97%);
    
    --button-bg-disabled: hsl(183, 79%, 24%);
    --button-fg-disabled: hsl(183, 94%, 19%);

    --button-bg-hover: hsl(173, 61%, 77%);

    --input-border-focus: hsl(172, 30%, 50%);

    --white: hsl(0, 100%, 100%);

    --red: hsl(13, 32%, 57%);
}